<div class="container">

  <div>
    <div>

    </div>
    <div>

    </div>
  </div>

  <div>
  <button>cool</button>
  </div>

  <div class="m-3">
    <% @planets.each do |planet| %>
    <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title></title><rect width="100%" height="100%" fill="#55595c"></rect><text x="42%" y="50%" fill="#eceeef" dy=".3em"><%= planet.name %></text></svg>
                <div class="card-body">
                  <p class="card-text"><%= planet.description %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit planet', edit_planet_path(planet) %></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Delete', planet_path(planet), method: :delete, data: { confirm: 'Are you sure?' } %></button>
                    </div>
                    <small class="text-muted"><%= planet.price %>$ per night</small>
                  </div>
                </div>
              </div>
            </div>
  <% end %>
  </div>
</div>


