<div class="container col-5">
  <div class="card-trip">
    <%= image_tag "#{@planet.name.downcase.gsub(" ", "_")}.jpg" %>
    <div class="card-trip-infos">
      <div class="card-name-description">
        <h2><%=  @planet.name %></h2>
        <p><%= @planet.description %></p>
      </div>
      <div class="card-date-reservation">
        <h4> Available from <%= @planet.start_date.strftime('%d/%m/%y') %> to <%= @planet.end_date.strftime('%d/%m/%y') %></h4>
        <%= link_to 'Add a new reservation', new_planet_reservation_path(@planet), class: "btn btn-success" %>
      </div>
      <div class="card-trip-pricing">
        <h4>Price/night</h4>
        <h5><%= @planet.price %> €/guest</h5>
      </div>
    </div>
  </div>
  <%= link_to 'Edit planet', edit_planet_path(@planet) %> | <%= link_to 'Delete', planet_path(@planet), method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Back', planets_path %>
</div>
