<div class="container">
  <h1> <%=  @planet.description %> </h1>

  <div class="cards">
    <h3> <%=  @planet.name %> </h3>
    <p> Price/night: <strong> <%=  @planet.price  %> </strong> $/guest </p>

    <h4> Available from <%= @planet.start_date %> to <%= @planet.end_date %></h4>
  </div>

  <%= link_to 'Edit planet', edit_planet_path(@planet) %> &nbsp | &nbsp <%= link_to 'Delete', planet_path(@planet), method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Back', planets_path %>
</div>

