<h1>reservations index</h1>

<h2> all </h1>

<div>
    <% @reservations.each do |i| %>
        <p> planet : <%= Planet.find(i.planet_id).name %>, proprietaire: <%= User.find(i.user_id).username %> </p>
        <p> <%= i.start_date %> - <%= i.end_date %>, status <%= i.status %> </p>
    <% end %>
</div>

