<div class="container">

<h1> NEW RESERVATION for <%= @planet.name  %> </h1>

<%= simple_form_for [@planet, @reservation] do |f| %>
  <%= f.input :start_date, as: :string, input_html: { class: "flatpickr" } %>
  <%= f.input :end_date, as: :string, input_html: { class: "flatpickr" } %>
  <%= f.submit "Book this planet", class: "btn btn-primary" %>
<% end %>

</div>
