<!DOCTYPE html>
<html>
  <head>
    <title>Spacebnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <style>
    #particles-js {
      height: 100%;
      width: 100%;
      z-index: -100;
    }
  </style>
  <body id="particles-js">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div id='main-container' style="
      position: relative;
      top: 0px;
    ">
      <%= yield %>
    </div>
  </body>
</html>
